footer {
    background-color: #376c79;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
    p{
        margin: 0;
        padding: 0;
    }
}