header {
    background-color: #376c79;
    color: white;
    padding: 10px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    
   
}
nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    block-size: auto;
    
    
}